<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="name" value="Marek" />
  <add key="surname" value="Merskinn" />
  <add key="birthDate" value="May 6, 2014" />
  <add key="height" value="32" />
 </appSettings>
	<connectionStrings>
		<add name="MyKey"
             connectionString="Data Source=localhost;Initial Catalog=ABC;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>